body{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 300px;
    width: 417px;
    object-fit: cover;
}
.project{
    height: 582px;
    width: 419px;
    border: 3px solid rgb(53, 4, 4);
    padding: 12px;
}
h1{
    color: #973f00;
    padding-left: 5px;
    padding-right: 5px;
}
p{
    
element.style {
}
user agent stylesheet
em {
    font-style: italic;
}
p {
    color: rgb(107 0 50);
    padding-left: 5px;
    padding-right: 5px;
    font-size: medium;
}
}
.button{
    color: rgb(248, 248, 248);
    padding-left: 5px;
    padding-right: 5px;
    background-color: red;
}
.project{
    background-color: #bf32db30;
}